<%- include('./partials/html-head') %>
<%- include('./partials/nav') %>

<main>
  <section class="layout">
    <div class="main">
      <img src="/stylesheets/images/concert blue lights large w logo.jpg">
    </div>
  </section>
</main>

<%- include('./partials/footer') %>
